
body {
    background-color: rgb(28, 31, 71)!important;

}
#title {
    color:rgb(172, 104, 168);
    font-family: 'Franklin Gothic Medium'  !important;
   
}

#contenido {
background-color: rgb(38, 12, 65);

}

h3 {
    font-family:"Franklin Gothic Medium" ;
    color:rgb(212, 185, 228);
}

.content { 
    color:rgb(212, 185, 228);
    font-family: Garamond !important;
    padding: 5%;
    padding-top: 0%;
    text-align: justify;
}

.subtitle {
    font-family: Tahoma !important;
    color: rgb(225, 185, 252);
    padding: 1%;

    
}

.col-12 {
    max-width: 50%;
    height: auto;
    margin: 3%;

}


*/
.logo {
    width: 50%;
    height: auto;
}


.nav-link {
    color: #fff3cd;
}

.col-12 p {
    color: rgb(212, 185, 228); ;
}